<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>AgroAnalytics</title>
<!--mobile apps-->
	{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Bio Farming Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//mobile apps-->
<!-- Custom Theme files -->
<link href="{% static 'C:\python\button\static\admin\css\bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'C:\python\button\static\css\style.css' %}" type="text/css" rel="stylesheet" media="all">
<!-- //Custom Theme files -->
<!-- js -->
<script src="{% static 'C:\python\button\static\admin\js\jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>	
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!-- start-smooth-scrolling-->
<script type="text/javascript" src="{% static 'C:\python\button\static\admin\js\move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'C:\python\button\static\admin\js\easing.js' %}"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
		
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smooth-scrolling-->	
</head>
<body>
	<!--banner-->
	<div class="banner">
		<div class="effect5"><!--shadow effect-->
			<div class="container">
				<div class="logo">
					
				</div>
				<div class="banner-slider">
					
					<h2>AgroAnalytics</h2>
					
				</div>
				<div class="top-nav">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
								
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-center">
								<li><a href="index.html" class="link link--yaku"><span>H</span><span>O</span><span>M</span><span>E</span></a></li>
								<li class="active"><a href="about.html"><span>A</span><span>B</span><span>O</span><span>U</span><span>T</span></a></li>
								<li><a href="contactus.html" class="scroll link link--yaku"><span>C</span><span>O</span><span>N</span><span>T</span><span>A</span><span>C</span><span>T</span> <span>U</span><span>S</span></a></li>
							</ul>
							<div class="clearfix"> </div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!--//banner-->
	<!-- about-->
	<!--about-top-->
	<div class="about">
		<!-- container -->
		<div class="container">
			<h1 style="color: green">About Us</h1>
			<div class="about-info">
				<div class="col-md-4 about-top-grid">
					<img src="images/img4.jpg" alt="" />
				</div>
				<div class="col-md-8 about-top-grid about-grid-right">
					<h4>AgroAnalytics is data based software</h4>
					<p>This Software analyses data and predicts the success of the yeild . It uses  Linear Regression algorithm in order to calculate the probability. Linear Regression algorithm will be used . Linear regression is a linear model, e.g. a model that assumes a linear relationship between the input variables (x) and the single output variable (y). More specifically, that y can be calculated from a linear combination of the input variables (x)
                    When there is a single input variable (x), the method is referred to as simple linear regression.  
					</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!--//container-->
	</div>
	<!--//about-top-->
	<!--events-->
	<div class="events">
		<div class="container">
			<h3 class="title">Services </h3>
			<div class="events-info">
				<div class="col-md-6 event-grids">
					<p>Analyze critical data of temperature variation , rainfall and parasite attacks and take better decisions that improve </p>
	                <p>the outcome of your sales yeild. Our Data Services are designed to support you in managing information and </p>
	                 <p>making the best use of it and eventually improve your ROI. </p>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//events-->
	<p>                                                      </p>
	<p>                                                      </p>
	<br>
	<br>
	<br>
	
	<!--footer-->
	<div class="footer">
		<div class="footer-info">
			<div class="container">	
				<div class="icons">	
					<ul>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><img src="{% static 'C:\python\button\static\admin\images\i1.png' %}" alt=""/></a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><img src="{% static 'C:\python\button\static\admin\images\i2.png' %}" alt=""/> </a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Google+"><img src="{% static 'C:\python\button\static\admin\images\i3.png' %}" alt=""/></a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="LinkedIn"><img src="{% static 'C:\python\button\static\admin\images\i4.png' %}" alt=""/> </a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><img src="{% static 'C:\python\button\static\admin\images\i5.png' %}" alt=""/> </a></li>
					</ul>
					<script>$(function () {
					  $('[data-toggle="tooltip"]').tooltip()
					})</script>
				</div>
								
			</div>
		</div>
	</div>
	<!--//footer-->
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'C:\python\button\static\admin\js\bootstrap.js' %}"></script>
</body>
</html>