<!DOCTYPE html>
<html>
<head>
<title>AgroAnalytics</title>
<!--mobile apps-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Bio Farming Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//mobile apps-->
<!-- Custom Theme files -->
{% load static %}
<link href="{% static 'C:\python\button\static\admin\css\bootstrap.css' %}" rel="stylesheet" media="all">
<link href="{% static 'C:\python\button\static\css\style.css' %}" type="text/css" rel="stylesheet" media="all">
<!-- //Custom Theme files -->
<!-- js -->
<script src="{% static 'C:\python\button\static\admin\js\jquery-1.11.1.min.js' %}"></script> 
<!-- //js -->
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>	
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!-- start-smooth-scrolling-->
<script type="text/javascript" src="{% static 'C:\python\button\static\js\move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'C:\python\button\static\js\easing.js' %}"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
		
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smooth-scrolling-->	
</head>
<body>
	<!--banner-->
	<div class="banner">
		<div class="effect5"><!--shadow effect-->
			<div class="container">
				<div class="logo">
					
				</div>
				<div class="banner-slider">
					
					<h3>Using AgroAnalytics</h3>
					<h4> Can raise your
						<div class="pushEffect">
							<span> cropping</span>
							<span> yield</span>
							<span> farming</span>
							
						</div>
					</h4>
				</div>
				<div class="top-nav">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
								
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-center">
								<li class="active"><a href="index.html"><span>H</span><span>O</span><span>M</span><span>E</span></a></li>
								<li><a href="about.html" class="link link--yaku"><span>A</span><span>B</span><span>O</span><span>U</span><span>T</span><span></span><span>U</span><span>S</span></a></li>
								
								
								<!-- <li><a href="#contact" class="scroll link link--yaku"><span>C</span><span>O</span><span>N</span><span>T</span><span>A</span><span>C</span><span>T</span> <span>U</span><span>S</span></a></li> -->
							</ul>
							<div class="clearfix"> </div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!--//banner-->
	<!--output-->
	<div class="services">
		<h1 style="color: green ">Analysis</h1><br>
		<p>Below you can see an image,which contains the success percentage of the crop in the selected year <br>and the graphical representation of the estimated temperature and rainfall in the particular year.<br>
In the displayed graph, according to the average rainfall and temperature for all 10 years,<br> the expected rainfall and temperature patterns are visualized by blue and red lines respectively. </p>
<br>
		<!-- <div class="servc-grids"> -->
			<!-- <div class="col-md-3 servc-grid"> -->
		<!-- <img src="C:\Users\Admin\Desktop\web\images\serviceicon.png"/> -->
	     <!-- </div> -->
		<!-- <p>The  success probability of         crop is    </p>
	    <p>The following graph shows the probability </p> -->
	    {% load static %}
        <img src="{% static 'C:\python\button\static\images\test.jpg' %}" id="image" />
	 
	    
	    
	</div>

	</div>
	


	</div>
	<!--output-->
	<!--popular-->
	<div class="popular">
		<div class="container">
			<div class="col-md-8 popular-grids">
				<h4>Project By -</h4>
				
				<div class="bottom-popular">
					<div class="col-md-6 popular-text">
						<h5>Anushka</h5>
						<h5>Arjun Menon</h5>
						<h5>Shubh Shukla</h5>
					</div>
					
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 popular-grids popular-img">
				<img src="{% static 'C:\python\button\static\images\img3.jpg' %}" class="img-responsive zoom-img" alt=""/>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--//popular-->
	<!--footer-->
	<div class="footer">
		<div class="footer-info">
			<div class="container">	
				<div class="icons">	
					<ul>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><img src="{% static 'images/i1.png' %}" alt=""/></a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><img src="{% static 'images/i2.png' %}" alt=""/> </a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Google+"><img src="{% static 'images/i3.png' %}" alt=""/></a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="LinkedIn"><img src="{% static 'images/i4.png' %}" alt=""/> </a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><img src="{% static 'images/i5.png' %}" alt=""/> </a></li>
					</ul>
					<script>$(function () {
					  $('[data-toggle="tooltip"]').tooltip()
					})</script>
				</div>
				<p></p>					
			</div>
		</div>
	</div>
	<!--//footer-->
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'C:\python\button\static\admin\js\bootstrap.js' %}"></script>
</body>
</html>